.edit{
    background-color: #f4f4f4;
}
.editOpt{
    .editOpt-type{
       height: 58px;
    line-height: 58px;
    margin-left: 20px;
    font-weight: 600; 
    }
    .edit-select{
        display: flex;
        margin-left: 30px;
        line-height: 78px;
    }
    .opt-save{
        width: 90%;
        margin: 20px auto;
    }
}