.choice{
    .choice-single{
        height: 84px;
        line-height: 84px;
    }
    .choice-edit{
        display: flex;
        justify-content: space-between;
    }
}
.describe{
    font-size: 28px;
    line-height: 52px;
}