.questionaire-wrap {
  width: 100%;
  background-color: #FFF;
  color: #333;
  border-radius: 10px;
  -moz-box-shadow:2px 2px 5px #333333; 
  -webkit-box-shadow:2px 2px 5px #333333; 
  box-shadow:2px 2px 5px #333333;
  margin-bottom: 10PX;
  
  .InfoRow{
    padding: 10PX;
    border-bottom: solid 1PX #666;
  }

  .titleRow{
    padding: 5PX 0;
  }

  .dataRow{
    color: #666;
    padding: 5PX 0;

    .collect
    {
      float: right;

      .finishNum {
        font-size: large;
        color: #00FF00;
      }
    }
  }  

  .typeRow{
    padding: 5PX 0;
  }

  .typeName{
    background-color: #F6F7F6;
    padding: 3PX;
    border: solid 1px #dedede;
    border-radius: 10px;
  }

  .optRow{
    padding: 10PX;
  }
}


